<h1>Listing text_queries</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_queries.each do |text_query| %>
  <tr>
    <td><%= text_query.text %></td>
    <td><%= text_query.response %></td>
    <td><%= link_to 'Show', text_query %></td>
    <td><%= link_to 'Edit', edit_text_query_path(text_query) %></td>
    <td><%= link_to 'Destroy', text_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text query', new_text_query_path %>
