<p id="notice"><%= notice %></p>

<p>
  <b>Mercado:</b>
  <%= @item.meli_id %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Has stock:</b>
  <%= @item.has_stock %>
</p>
<p>
	<%= link_to 'Activar', url_for(:controller=>:items,:action=>:add_image_to_description,:id=>@item.id) %> 
</p>
<img src="http://localhost:3000/items/<%= @item.id.to_s %>.jpg">


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
