<p id="notice"><%= notice %></p>

<p>
  <b>Mercado:</b>
  <%= @item.mercado_id %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Has stock:</b>
  <%= @item.has_stock %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
