<div id="nav">
  <div class="row">
    <div class="two mobile-one columns"><a href="<%= url_for(:controller => 'items', :action => 'index') %>"><h3><i class="general foundicon-left-arrow"></i></h3></a></div>
    <div class="ten mobile-three columns"><h3 class="show-for-small" style="margin-left:18%;">Detalles</h3><h3 class="hide-for-small" style="margin-left:30%;">Detalles</h3></div>
  </div>
</div>

<div class="listing">
  <div class="hide-for-small" style="margin-top:50px;"></div>
  <div class="row header" style="margin-bottom:2px;">
    <div class="twelve columns">
      <h5><%= @item.meli_title %></h5>
    </div>
  </div>
  <div class="hide-for-small" style="margin-top:50px;"></div>
<% if @item.stock_tracked %>
  <div class="row">
    <div class="three offset-by-one columns status item">
      <div class="row">
        <div class="eight mobile-three columns"><h3 class="text-center">status</h3></div>
        <div class="four mobile-one columns"><h4 class="text-center"><i class="general foundicon-<%= 'checkmark' if @item.has_stock %><%= 'remove' if !@item.has_stock %>"></i></h4></div>
      </div>
      <div class="row title">
        <a href="<%= url_for(:controller => 'items', :action => 'modify_from_page', :modify_action => (@item.has_stock ? 'mark_no_stock' : 'mark_stock')) %>"><div class="twelve columns"><h5 class="text-center" style="font-size:19px;">Toggle</h5></div></a>
      </div>
    </div>
    <div class="three offset-by-one columns status item">
      <div class="row">
        <div class="eight mobile-three columns"><h3 class="text-center">stock ML</h3></div>
        <div class="four mobile-one columns"><h3 class="text-center"><%= @item.meli_stock %></h3></div>
      </div>
      <div class="row title">
        <div class="six mobile-two columns"><a href="<%= url_for(:controller => 'items', :action => 'modify_from_page', :modify_action => 'decrement_meli_stock') %>"><h5 class="text-center"><i class="general foundicon-minus"></i></h5></a></div>
        <div class="six mobile-two columns"><a href="<%= url_for(:controller => 'items', :action => 'modify_from_page', :modify_action => 'increment_meli_stock') %>"><h5 class="text-center"><i class="general foundicon-plus"></i></h5></a></div>
      </div>
    </div>
    <div class="three offset-by-one columns status item">
      <div class="row">
        <div class="eight mobile-three columns"><h3 class="text-center show-for-small">stock real</h3><h3 class="hide-for-small">stock real</h3></div>
        <div class="four mobile-one columns"><h3 class="text-center"><%= @item.real_stock %></h3></div>
      </div>
      <div class="row title">
        <div class="six mobile-two columns"><a href="<%= url_for(:controller => 'items', :action => 'modify_from_page', :modify_action => 'decrement_real_stock') %>"><h5 class="text-center"><i class="general foundicon-minus"></i></h5></a></div>
        <div class="six mobile-two columns"><a href="<%= url_for(:controller => 'items', :action => 'modify_from_page', :modify_action => 'increment_real_stock') %>"><h5 class="text-center"><i class="general foundicon-plus"></i></h5></a></div>
      </div>
    </div>
  </div>
  <div class="hide-for-small" style="margin-top:50px;"></div>
  <div class="row">
    <div class="five columns" style="margin-bottom:2px; background-color: #16A085;"><a href="<%= url_for(:controller => 'items', :action => 'print_qr', :id => @item.id) %>"><h5 class="text-center">Imprimir QR</h5></a></div>
    <div class="five offset-by-two columns" style="margin-bottom:2px; background-color: #16A085;"><a href="<%= url_for(:controller => 'items', :action => 'see_listing', :id => @item.id) %>"><h5 class="text-center">Ir a MercadoLibre</h5></a></div>
  </div>
</div>
<% else %>
  <div class="row">
    <a href="<%= url_for(:controller => 'items', :action => 'add_image_to_description', :id => @item.id) %>">
      <div class="eight columns status item centered">
        <div class="megamo"><h1 class="text-center">Activar</h1></div>
      </div>
    </a>
  </div>
<% end %>
